.App {
  background-image: linear-gradient(#03CEA4, #345995);
}

#drum-machine {
  justify-content: space-around;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

#beats {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 25%;
  background-color: #92D1C3;
  filter: drop-shadow(0px 10px 3px black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  padding: 30px;
  margin: 20px;
  filter: drop-shadow(0px 5px 1px black);
  background-image: linear-gradient(#EAC435, #FB4D3D);
  font-family: Georgia; 
  font-size: 25px;
  border-radius: 12px;
  filter: drop-shadow(0px 10px 3px black);
}

#display {
  background-color: #92D1C3;
  filter: drop-shadow(0px 10px 3px black);
  display: inline-block;
  padding-right: 20%;
  padding-left: 8%;
  width: 45%;
  height: 400px;
  margin-left: 35%;
  margin-right: 2%;
}

#disp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}